<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          		<span class="icon-bar"></span>
          		<span class="icon-bar"></span>
          		<span class="icon-bar"></span>                        
      		</button>
      		<a class="navbar-brand" href="/">
      		<img src="/images/company_logo.jpg" width="100" height="30">
      		</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
		          <li><a href="/admin">Admin</a></li>
					<% var cat = {}; %>
					<% for(var i=0; i<cats.length; i++) { %>
						<% var sclist = []; %>
						<% for(var subCatIterator = 0; subCatIterator < subcats.length; subCatIterator++){%>
							<% if(cats[i].categoryName == subcats[subCatIterator].categoryName){
								sclist.push(subcats[subCatIterator].subCategoryName);
							} %>
						<% }
							cat[cats[i].categoryName] = sclist;
						%>
					<% } %>
				    <% for(var index in cat){%>
						<% if(cat[index].length > 0){%>
							<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/article?data=<%= index %>"> <%= index %> </a>
								<ul class="dropdown-menu">
							<% for(var i = 0; i<cat[index].length; i++){%>
									<li><a href="/article?data=<%= cat[index][i]%>"><%= cat[index][i] %></a></li>
							<%}%>
								</ul>
							</li>
						<% } else {%>
							<li><a href="/article?data=<%= index %>"> <%= index %> </a></li>
						<% } %>
					<% } %>
		          <!-- <li><a href="#section3">Section 3</a></li>
		          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>
		            <ul class="dropdown-menu">
		              <li><a href="#section41">Section 4-1</a></li>
		              <li><a href="#section42">Section 4-2</a></li>
		            </ul>
		          </li> -->
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		    <%if(userName!=""){ %>
		    	<li><a href="#"> Hello <%= userName %> </a></li>
		    	<li><a href="/signout"><span class="glyphicon glyphicon-off"></span> Sign out</a></li>
		    <% } else{ %>
	        	<li><a data-toggle="modal" data-target="#signUp" href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	        	<li>
	        		<a data-toggle="modal" data-target="#Login" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>
	        	</li>
	        <% } %>
	      </ul>
		</div>
		
	</div>
</nav>

<%if(error!=""){ 
	if(error.errorType == "login"){	
%>
	<div id="Login" class="modal show" role="dialog">
<%
	}else{
%>
	<div id="Login" class="modal fade" role="dialog">
<%
	}
}else{	
%>
	<div id="Login" class="modal fade" role="dialog">
<% } %>

	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
		      <button id="signInCloseButton" type="button" class="close" data-dismiss="modal">&times;</button>
		      <h4 class="modal-title">Login</h4>
		      <%if(error!="" && error.errorType == "login"){
		      %>  
		      		<p><%= error.message%></p>
		      <% } %>
		    </div>
		    <div class="modal-body">
		    	<form id="loginForm" role="form" method="post" action="/signIn" onsubmit="return validateloginform();">
				    <div class="form-group">
				      <label for="email">Email address:</label>
				      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
				    </div>
				    <div class="form-group">
				      <label for="pwd">Password:</label>
				      <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Enter password">
				    </div>
				    
				    <div class="form-group">
					    <button id="signInSubmitButton" type="submit" class="btn btn-primary">Login</button>
	                    <button id="signInCancleButton" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	                    <label><input type="checkbox"> Remember me</label>
					    <a href="#"> Forgotten your password?</a>
                    </div>
				 </form>
		    </div>
		 </div>
	</div>
</div>


<% if(error!="" && error.errorType == "signup"){ %> 

	<div id="signUp" class="modal show" role="dialog">
<%	}else{ %>
	<div id="signUp" class="modal fade" role="dialog">
<%	} %>
<div class="modal-dialog">
  <!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
	      <button id="signUpCloseButton" type="button" class="close" data-dismiss="modal">&times;</button>
	      <h4 class="modal-title">Sign Up</h4>
	      <%if(error!="" && error.errorType == "signup"){ %>  
		      		<p><%= error.message%></p>
		  <% } %>
	    </div>
	    <div class="modal-body">
	    	<form role="form" method="post" action="/signUp" onsubmit="return validateSignupForm();">
			    <div class="form-group">
			      <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name">
			    </div>
			    
			    <div class="form-group">
			      <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter Last Name">
			    </div>
			    
			    <div class="form-group">
			      <input type="text" class="form-control" id="mobileNumber" name="mobileNumber" placeholder="Enter Mobile Number">
			    </div>
			    
	    		<div class="form-group">
			      <input type="email" class="form-control" id="newemail" name="newemail" placeholder="Enter email address">
			    </div>
			    <div class="form-group">
			      <input type="password" class="form-control" id="newpwd" name="newpwd" placeholder="Enter new password">
			    </div>
			    <div class="form-group">
			    	<button id="signUpSubmitButton" type="submit" class="btn btn-primary">Login</button>
			    	<button id="signUpCancleButton" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
			</form>    
	    </div>
	 </div>
</div>
</div>